/* variables.scss */


/* UI */

$ui-border-width: 2px;
$ui-border-color: #000;
$ui-line-height: 3rem;

/* buttons */

$button-padding: 1rem;
$button-hover-bg-color: #000;
$button-hover-color: #FFF;