/* main.scss */


/* flex grid */

.flex-grid {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* button button, who's got the */

$button-padding: 1rem;
$button-hover-bg-color: #000;
$button-hover-color: #FFF;
.button {
    flex: 1;
    border: 2px solid #000;
    width: 20%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: $button-hover-bg-color;
        color: $button-hover-color;
    }
}