/* main.scss */

@import "variables";
@import "mixins";
@import "reset";
@import "typography";
main {
    @include bordered($ui-border-width, $ui-border-color);
}


/* flex grid */

.flex-grid {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* button button, who's got the */

.button {
    flex: 1;
    @include bordered($ui-border-width, $ui-border-color);
    width: 20%;
    height: $ui-line-height;
    line-height: $ui-line-height;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: $button-hover-bg-color;
        color: $button-hover-color;
    }
}


/* display */

#display {
    width: 100%;
    @include bordered($ui-border-width, $ui-border-color);
    line-height: $ui-line-height;
    text-align: right;
    padding: 0 1rem;
}